@font-face {
	font-family: Veneer;
	src: url("/font/veneer.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Veneer;
	line-height: 1;
	color: rgba(20, 20, 20, 1);

	background: rgba(30, 30, 30, 1);

	perspective: 1000px;
}

h1 {
	font-size: 2.5em;
}

.bigger {
	font-size: 120%;
}

.smaller {
	font-size: 90%;
}

.code {
	font-family: Consolas;
}

.step {}

.step.centered {
	text-align: center;
}

.step.wide {
	width: 80vw;
}

.step.full {
	width: 100vw;
	padding: 0;
}

.img {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	max-width: 100%;
	max-height: 80vh;
}

.blue {
	color: #3498DB;
}

.deep.blue {
	color: #2980B9;
}

.orange {
	color: #E67E22;
}

.red {
	color: #E74C3C;
}

.green {
	color: #2ECC71;
}

.term {
	display: inline-block;
	font-size: 1.3rem;
	height: 80vh;
}

.term .terminal{
	background: none;
}

.term .terminal .xterm-rows {
	font-family: Consolas;
}

.term .terminal .xterm-rows>div {
	padding: 0;
}

.term .terminal .xterm-viewport {
	overflow-y: hidden !important;
	background: none;
}

.main-view {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;

	background: rgba(253, 253, 253, 1);
	transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), background 0.3s;
}

.main-view.mini {
	transform: translate3d(0, 0, -500px);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main-view.dark {
	background: rgba(15, 15, 15, 1);
}

.back-view {
	position: absolute;
	left: 0; top: 0;
	height: 100%; width: 100%;
	pointer-events: auto;
}

.frame {
	position: relative;
	left: 0; top: 0;
	width: 100vw;
	height: 100vh;
}
